@inherits LayoutComponentBase
@rendermode InteractiveServer

<HeadContent>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/admin.css" />
</HeadContent>  

<_Topbar />
<div class="body-login">
    @Body
</div>
<script src="js/toast.js"></script>