<!-- Modal dùng chung -->
<div class="modal fade" id="categoryModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
<<<<<<< HEAD
            <form id="categoryForm" @onsubmit="HandleOnSubmit">
=======
            <form id="categoryForm">
>>>>>>> 4589f5fe6f438f0040c39c4ed8666a379b6a96e5
                @* @Html.AntiForgeryToken() *@
                @* <input type="hidden" id="categoryId" name="categoryId" @bind="Model.CategoryId" /> *@

                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalTitle">Quản lý loại sản phẩm</h5>
                    <button type="button" class="btn-close" 
                            data-bs-dismiss="modal" 
                            @onclick="HandleOnClose"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Tên loại sản phẩm</label>
<<<<<<< HEAD
                        <input type="text" class="form-control" id="typename" name="categoryName" 
                        @bind="Model.CategoryName">
                        <div class="invalid-feedback" id="typename-msg">@NameError</div>
=======
                        <input type="text" class="form-control" id="typename" name="categoryName"
                        @bind="Model.CategoryName">
                        <div class="invalid-feedback" id="typename-msg"></div>
>>>>>>> 4589f5fe6f438f0040c39c4ed8666a379b6a96e5
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" id="categoryModalSaveBtn" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Category Model { get; set; } = new();

    [Parameter]
    public bool IsEditMode { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private void HandleOnClose()
    {
        OnClose.InvokeAsync();
    }

<<<<<<< HEAD
    // ==== ONSUBMIT ====
    [Parameter]
    public EventCallback<Category> OnSave { get; set; }

    private async Task HandleOnSubmit()
    {
        // validate
        if(ValidateForm())
        {
            // submit data
            await OnSave.InvokeAsync(Model);
        }
    }

    // ==== ERROR HANDLING ====
    private string? NameError;

    private bool ValidateForm()
    {
        string name = Model.CategoryName;
        bool isValid = true;

        if (string.IsNullOrEmpty(name))
        {
            NameError = "Tên loại không được để trống";
            isValid = false;
        }
        else if (name.Length > 100)
        {
            NameError = "Tên loại tối đa 100 ký tự";
            isValid = false;
        }
        else if (!Regex.IsMatch(name, @"^[\p{L}\s]+$"))
        {
            NameError = "Tên loại chỉ được chứa chữ cái và khoảng trắng";
            isValid = false;
        }
        return isValid;
    }
=======
    // ==== SAVE DATA ====

>>>>>>> 4589f5fe6f438f0040c39c4ed8666a379b6a96e5
}
